<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itexico.instrumentationtesting">

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EspressoTestTheme">
     <!-- <activity
            android:name=".espresso.activities.EspresoHome"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

       <activity
            android:name=".androidjunitrunner.CalculatorActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".espresso.activities.ChangeText" />
        <activity android:name=".espresso.activities.ShowText" />
        <activity android:name=".espresso.activities.SpinnerSelection" />
        <activity android:name=".espresso.activities.CustomList" />
        <activity android:name=".espresso.activities.EmployeeDetails" />

        <activity android:name=".espresso.activities.SearchView" />
        <activity android:name=".espresso.activities.Searchable">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".espresso.activities.ActionBar" />
        <activity android:name=".espresso.activities.FragmentViewPager" />
        <activity android:name=".espresso.activities.DialogDisplay" />
        <activity android:name=".espresso.activities.RecyclerViewActivity" />
        <activity android:name=".espresso.activities.DateAndTimePicker" />
        <activity android:name=".espresso.activities.IdlingIntentServiceActivity" />
        <activity android:name=".espresso.activities.IdlingElapsedTime" />
        <activity android:name=".espresso.activities.IdlingLoadingDialog" />
        <activity android:name=".espresso.activities.CustomFailureHandler" />
        <activity android:name=".espresso.activities.WebViewActivity" />
        <activity android:name=".espresso.activities.StartedServiceActivity" />
        <activity android:name=".espresso.activities.BoundServiceActivity" />
        <activity android:name=".espresso.activities.PickAndCallNumber" />
        <activity android:name=".espresso.activities.ViewNumber" />

        <service android:name=".espresso.service.RepeatIntentService" />
        <service android:name=".espresso.service.StartedService" />
        <service android:name=".espresso.service.BoundService" />

        <provider
            android:name=".espresso.content_provider.AppRecentSearchProvider"
            android:authorities="com.itexico.instrumentationtesting.espresso.content_provider.authority" />
    </application>

</manifest>
